<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string> 1.您怎样评价您的生存质量？</string>
		<key>Answer</key>
		<array>
			<string>很差</string>
			<string>差</string>
			<string>不好也不差</string>
			<string>好</string>
			<string>很好</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string> 2.您对自己的健康状况满意吗？</string>
		<key>Answer</key>
		<array>
			<string>很不满意</string>
			<string>不满意</string>
			<string>既非满意也非不满意</string>
			<string>满意</string>
			<string>很满意</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string> 3.您觉得疼痛妨碍您去做自己需要做的事情吗？</string>
		<key>Answer</key>
		<array>
			<string>极妨碍</string>
			<string>比较妨碍</string>
			<string>有妨碍(一般)</string>
			<string>很少妨碍</string>
			<string>根本不妨碍</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string> 4.您需要依靠医疗的帮助进行日常生活吗？</string>
		<key>Answer</key>
		<array>
			<string>极需要</string>
			<string>比较需要</string>
			<string>需要(一般)</string>
			<string>很少需要</string>
			<string>根本不需要</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>5.您觉得生活有乐趣吗？</string>
		<key>Answer</key>
		<array>
			<string>根本没乐趣</string>
			<string>很少有乐趣</string>
			<string>有乐趣(一般)</string>
			<string>比较有乐趣</string>
			<string>极有乐趣</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>6.您觉得自己的生活有意义吗？</string>
		<key>Answer</key>
		<array>
			<string>根本没意义</string>
			<string>很少有意义</string>
			<string>有意义(一般)</string>
			<string>比较有意义</string>
			<string>极有意义</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>7.您能集中注意力吗？</string>
		<key>Answer</key>
		<array>
			<string>根本不能</string>
			<string>很少能</string>
			<string>能(一般)</string>
			<string>比较能</string>
			<string>极能</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string> 8.日常生活中您感觉安全吗？</string>
		<key>Answer</key>
		<array>
			<string>根本不安全</string>
			<string>很少安全</string>
			<string>安全(一般)</string>
			<string>比较安全</string>
			<string>极安全</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>9.您的生活环境对健康好吗？</string>
		<key>Answer</key>
		<array>
			<string>根本不好</string>
			<string>很少好</string>
			<string>好(一般)</string>
			<string>比较好</string>
			<string>极好</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string> 10.您有充沛的精力去应付日常生活吗？</string>
		<key>Answer</key>
		<array>
			<string>根本没精力</string>
			<string>很少有精力</string>
			<string>有精力(一般)</string>
			<string>多数有精力</string>
			<string>完全有精力</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>11.您认为自己的外形过得去吗？</string>
		<key>Answer</key>
		<array>
			<string>根本过不去</string>
			<string>很少过得去</string>
			<string>过得去(一般)</string>
			<string>多数过得去</string>
			<string>完全过得去</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string> 12.您的钱够用吗? </string>
		<key>Answer</key>
		<array>
			<string>根本不够用</string>
			<string>很少够用</string>
			<string>够用(一般)</string>
			<string>多数够用</string>
			<string>完全够用</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>13.在日常生活中您需要的信息都齐备吗? </string>
		<key>Answer</key>
		<array>
			<string>根本不齐备</string>
			<string>很少齐备</string>
			<string>齐备(一般)</string>
			<string>多数齐备</string>
			<string>完全齐备</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string> 14.您有机会进行休闲活动吗？</string>
		<key>Answer</key>
		<array>
			<string>根本没机会</string>
			<string>很少有机会</string>
			<string>有机会(一般)</string>
			<string>多数有机会</string>
			<string>完全有机会</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string> 15.您行动的能力如何？</string>
		<key>Answer</key>
		<array>
			<string>很差</string>
			<string>差</string>
			<string>不好也不差</string>
			<string>好</string>
			<string>很好</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string> 16. 您对自己的睡眠情况满意吗？</string>
		<key>Answer</key>
		<array>
			<string>很不满意</string>
			<string>不满意</string>
			<string>既非满意也非不满意</string>
			<string>满意</string>
			<string>很满意</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>17.您对自己做日常生活事情的能力满意吗？</string>
		<key>Answer</key>
		<array>
			<string>很不满意</string>
			<string>不满意</string>
			<string>既非满意也非不满意</string>
			<string>满意</string>
			<string>很满意</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>18.您对自己的工作能力满意吗? </string>
		<key>Answer</key>
		<array>
			<string>很不满意</string>
			<string>不满意</string>
			<string>既非满意也非不满意</string>
			<string>满意</string>
			<string>很满意</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string> 19.您对自己满意吗？</string>
		<key>Answer</key>
		<array>
			<string>很不满意</string>
			<string>不满意</string>
			<string>既非满意也非不满意</string>
			<string>满意</string>
			<string>很满意</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string> 20.您对自己的人际关系满意吗？</string>
		<key>Answer</key>
		<array>
			<string>很不满意</string>
			<string>不满意</string>
			<string>既非满意也非不满意</string>
			<string>满意</string>
			<string>很满意</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>21.您对自己的性生活满意吗？</string>
		<key>Answer</key>
		<array>
			<string>很不满意</string>
			<string>不满意</string>
			<string>既非满意也非不满意</string>
			<string>满意</string>
			<string>很满意</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>22.您对自己从朋友那里得到的支持满意吗？</string>
		<key>Answer</key>
		<array>
			<string>很不满意</string>
			<string>不满意</string>
			<string>既非满意也非不满意</string>
			<string>满意</string>
			<string>很满意</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string> 23.您对自己居住地的条件满意吗?</string>
		<key>Answer</key>
		<array>
			<string>很不满意</string>
			<string>不满意</string>
			<string>既非满意也非不满意</string>
			<string>满意</string>
			<string>很满意</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string> 24.您对得到卫生保健服务的方便程度满意吗?</string>
		<key>Answer</key>
		<array>
			<string>很不满意</string>
			<string>不满意</string>
			<string>既非满意也非不满意</string>
			<string>满意</string>
			<string>很满意</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>25.您对自己的交通情况满意吗？</string>
		<key>Answer</key>
		<array>
			<string>很不满意</string>
			<string>不满意</string>
			<string>既非满意也非不满意</string>
			<string>满意</string>
			<string>很满意</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string> 26.您有消极感受吗? (如情绪低落、绝望、焦虑、忧郁)</string>
		<key>Answer</key>
		<array>
			<string>总是有消极感受</string>
			<string>经常有消极感受</string>
			<string>时有时无</string>
			<string>偶尔有消极感受</string>
			<string>没有消极感受</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>27. 家庭摩擦影响您的生活吗?</string>
		<key>Answer</key>
		<array>
			<string>有极大影响</string>
			<string>有比较大影响</string>
			<string>影响(一般)</string>
			<string>很少影响</string>
			<string>根本不影响</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>28. 您的食欲怎么样?</string>
		<key>Answer</key>
		<array>
			<string>很差</string>
			<string>差</string>
			<string>不好也不差</string>
			<string>好</string>
			<string>很好</string>
		</array>
	</dict>
</array>
</plist>
